.u-section-3-1 {
  background-image: url("images/bd6b2aa36a18cd721e7a29b4c72ec06e6757d4e946bed50da117dc309ddf97226ab404a6c1f5ead153fdb0ae4e05717f0ee658d322660e4248863f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6.875rem;
  margin: 88px 0 0 429px;
}

.u-section-3-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 7px -1px 0 684px;
}

.u-section-3-1 .u-text-3 {
  font-weight: 600;
  margin: 311px 0 60px 988px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 584px;
  }

  .u-section-3-1 .u-text-3 {
    width: auto;
    margin-top: 146px;
    margin-left: 788px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 9px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 474px;
  }

  .u-section-3-1 .u-text-3 {
    margin-top: 132px;
    margin-left: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 5rem;
    margin-left: 0;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 384px;
  }

  .u-section-3-1 .u-text-3 {
    margin-top: 79px;
    margin-left: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 {
    background-position: 57.82% 50%;
  }

  .u-section-3-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 44px;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-left: 103px;
  }

  .u-section-3-1 .u-text-3 {
    margin-left: 188px;
  }
}.u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/8ad572af04692abd854843fce2a6dfa9db846d2778c1e315f09a108c47c982a7ea9e268d4c07776a2a6a9e8b085c2c7cf0d38b8b10fb0d7b1eebcd_1280.jpg");
  background-position: 50% 50%;
  background-size: 190%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6.875rem;
  margin: 0;
}

.u-section-3-2 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 {
    background-position: 32.01% 51.23%;
    background-size: auto 155%;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-1 {
  min-height: 1026px;
}

.u-section-1 .u-shape-1 {
  height: 497px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  width: 928px;
  height: 599px;
  background-image: none;
  margin: -497px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-1 {
  width: 884px;
  height: 641px;
  margin: -511px auto 0 calc(((100% - 1140px) / 2) + 121px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -65px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 280px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 280px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1014px;
  }

  .u-section-1 .u-shape-2 {
    width: 832px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 860px;
    height: 648px;
    margin-top: -517px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1056px;
  }

  .u-section-1 .u-shape-1 {
    height: 469px;
  }

  .u-section-1 .u-shape-2 {
    width: 579px;
    height: 555px;
    margin-top: -469px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 589px;
    height: 563px;
    margin-top: -473px;
    margin-right: calc(((100% - 720px) / 2) + 53px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -30px;
    margin-bottom: 11px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1150px;
  }

  .u-section-1 .u-shape-1 {
    height: 443px;
  }

  .u-section-1 .u-shape-2 {
    width: 458px;
    height: 533px;
    margin-top: -443px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 503px;
    margin-top: -463px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 160px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-shape-1 {
    height: 294px;
  }

  .u-section-1 .u-shape-2 {
    width: 292px;
    height: 350px;
    margin-top: -294px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 286px;
    height: 329px;
    margin-top: -291px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 559px;
}

.u-section-2 .u-tabs-1 {
  min-height: 439px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-block-ac9d-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-ac9d-3 {
  position: absolute;
  left: 0;
}

.u-block-ac9d-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-ac9d-3 {
    width: 45px;
    height: 45px;
  }

  .u-block-ac9d-4 {
    width: 45px;
    height: 45px;
  }
}