.u-section-1 {
  background-image: url("images/hghh.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 578px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: 246px 0 0 570px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -305px 589px 60px 126px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 489px;
    margin-left: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 295px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 605px;
}

.u-section-2 .u-text-1 {
  width: 740px;
  margin: 60px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 650px;
  height: 342px;
  background-image: none;
  margin: 102px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -322px auto 41px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 321px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-shape-1 {
    width: 430px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 389px;
    width: 592px;
    margin-top: 382px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -660px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    height: 426px;
    width: 386px;
    margin-top: 372px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -655px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 15px;
}